*{
  margin: 0;
  padding: 0;
}
body{
  background: #EFE6D6;
  text-align: center;
  font-family: sans-serif;
}
.prayer{
  background: white;
  height: 50%;
  width: 85%;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #C9A24D;
  border-radius: 20px;
}
.quran{
  background: white;
  height: 50%;
  width: 85%;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #C9A24D;
  border-radius: 20px;
}
.clockon{
  background: white;
  height: 50%;
  width: 85%;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #C9A24D;
  border-radius: 20px;
}
h2{
  color: #C9A24D;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 10px 0 0 0;
}
h3{
  text-align: right;
  margin: 10px 22px;
  color: #C9A24D;
}
#clock{  
  text-align: right;
  font-size: 40px;
  margin: 10px 22px;
  color: #C9A24D;
}
input{
  border: 2px solid #C9A24D;
  border-radius: 5px;
  height: 40px;
  width: 50%;
  text-align: center;
}
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background-color: #f8f8f8;
  border-top: 1px solid #eaeaea;
  font-family: Arial, sans-serif;
}

.footer-content {
  line-height: 1.6;
}

.footer-content p {
  margin: 5px 0;
  color: #333;
}

.footer-content p:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #2c3e50;
}

select{
  padding: 10px 22px;
  background: #2F5D8A;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
  color: white;
  border: none;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 12px;
}
button{
  padding: 10px 22px;
  background: #2F5D8A;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 4px;
  color: white;
  border: none;
  font-family: sans-serif;
  cursor: pointer;
  border-radius: 12px;
}
button:hover{
  background: burlywood;
  border: 2px solid #C9A24D;
}
.pra{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #444;
  color: #C9A24D;
  font-size: 20px;
}
.pra:last-child{
  border: none;
}
#img{
  max-width: 100%;
  margin-top: 10px;
}
#m{
  max-width: 200px;
  display: block;
  height: 100px;
  margin-right: auto;
}
.date{
  margin: 10px 0;
  color: #C9A24D;
}
#h4{
  color: #C9A24D;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
#con{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
